{% extends 'navbar/navbar.html' %}

{% block title %}home{% endblock %}

{% block content2 %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-6">
            <div class="card text-center">
                <div class="card-header text-white">
                    <h4 class="card-title mb-2">Welcome and good luck !!!</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-4">Company name</h3>
                    <h5 class="card-text mb-2">Thanks you for choosing us! This is a platform, where we will analyze
                        your
                        programming and analysis skills. Please click in "Tests" in the sidebar.</h5>
                </div>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>

</div>
{% endblock %}