{% extends 'navbar/navbar.html' %}

{% block title %}home{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-3">
            <nav class="nav navbar-dark bg-dark navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse flex-column mt-md-0 mt-4 pt-md-0 pt-4" id="navbarWEX">
                    <a class="nav-link navbar-brand active" href="~/Views/Forms/ControlPanel.cshtml"><span class="fa fa-home"></span></a>
                    <a href="" class="nav-link">Linnk</a>
                    <a href="" class="nav-link">Linnk</a>
                    <a href="" class="nav-link">Linnk</a>
                </div>
            </nav>
        </div>
    </div>

<div class="row">
  <div class="col-3">
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action list-group-item-dark" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action list-group-item-dark" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action list-group-item-dark" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action list-group-item-dark" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

         <div class="col-xl-6">
            <div class="card text-center">
                <div class="card-header text-white bg-primary">
                    <h4 class="card-title mb-2">Bienvenido/a !!!</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-4">Test de Habilidades</h3>
                    <h5 class="card-text mb-2">Como necesitamos conocer tu experiencia y habilidades de programacion,
                        a continuacion necesitamos que completes los siguientes Tests. Gracias!</h5>

                </div>
                <div class="card-footer text-muted">
                    <form method="get">
                        {% csrf_token %}
                        <a href="/test/" class="btn btn-primary">Comenzar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
        </div>

      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>

{% endblock %}