body{
    background: -webkit-linear-gradient(left, #68EACC 0%, #497BE8 100%);

}

.contact-form{
    background: #00000;
    margin-top: 15%;
    margin-bottom: 5%;
	border: black 1px solid;
}
.contact-form .form-control{
    border-radius:1rem;
	border: black 1px solid;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 20%;
    margin-top: 10%;
}
.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -5%;
	border: black 1px solid;
}
.contact-form h2{
    margin-bottom: 5%;
    margin-top: -5%;
    text-align: center;
    color: #000000;
}