{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#" id="sidebarCollapse">Users & Skills</a>
    <ul class="navbar-nav mr-auto">
    </ul>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a class="navbar-brand text-white">|&nbsp;{{user.first_name}}&nbsp;|&nbsp;&nbsp;</a>
        <button class="btn btn-danger my-0 my-sm-0" type="submit">Logout</button>
    </form>
</nav>
{% endblock %}

{% block content %}
<nav id="sidebar">
    <ul class="list-unstyled components">
        <br>
        <li>
            <a href="/home/"><img src="../static/images/home.png"/>Home</a>
        </li>
        <br>
        <li>
            <a href="/test/"><img src="../static/images/tests.png"/>Tests</a>
        </li>
        <br>
        <li>
            <a href="#"><img src="../static/images/profile.png"/>Profile</a>
        </li>
        <br>
        <li>
            <a href="#"><img src="../static/images/perfomance.png"/>Performance</a>
        </li>
        <br>
        <li>
            <a href="#"><img src="../static/images/achievement.png"/>Achievements</a>
        </li>
        <br>
        <li>
            <a href="#"><img src="../static/images/contact.png"/>Contact</a>
        </li>
    </ul>
</nav>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>
{% endblock %}

