{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>
        <div class="col-xl-5">
            <div class="container contact-form">
                <div class="contact-image">
                    <img src="../static/images/developer.svg" alt="rocket_contact"/>
                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <h2>Users & Skills</h2>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required/>
                    </div>
                    <button type="submit" class="rounded-pill btn-danger btn-block shadow p-2 mb-3">Login</button>
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        Usuario o contraseña incorrecta. Intente nuevamente.
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}