{% extends 'navbar/navbar.html' %}

{% block title %}test{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12">
            {% for test in object_list %}
            <table class="table table-primary table-bordered table-sm table-condensed">
                <thead class="grey lighten-2">
                <tr class="table-secundary">
                    <th scope="col">Test_name</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prueba</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ test.test_name }}</th>
                    <td>{{ test.difficulty }}</td>
                    <td>{{ test.description }}</td>
                    <td>{{ test.prueba }}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <a href="/create/" class="btn btn-danger">Iniciar Testt1</a>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}