{% extends 'navbar/navbar.html' %}

{% block title %}create{% endblock %}

{% block content2 %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-header text-center">
                Choose and do the tests
            </div>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}

                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}

                <div class="card bg-light mb-3 ">
                    <div class="card text-white bg-secondary mb-3">
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                            </div>
                            <div class="form-group col-md-4">
                                <h5 class="card-title">Language</h5>
                                <select name="leng_program" required id="id_leng_program" class="form-control">
                                    {% for leng in form.leng_program %}
                                    <option>{{leng}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-4">
                                <h5 class="card-title">Tests</h5>
                                <select class="form-control" name="test_choice" required id="id_test_choice">
                                    {% for choice in form.test_choice %}
                                    <option>{{choice}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="card-body text-center">
                        <div class="form-group">
                            <h4 class="card-title card-center">Description</h4>
                            <br>
                            <div class="col">{{ form.description }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="is_done" id="id_is_done" class="custom-control-input"
                                       value="{{form.is_done}}">
                                <label class="custom-control-label" for="id_is_done">Finalized</label>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Save</button>
                            &nbsp;&nbsp;&nbsp;<a href="/viewlist/" class="btn btn-danger">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}