{% extends 'navbar/navbar.html' %}

{% block title %}create{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12">
            <div class="card text-white bg-primary">
                <div class="card-header text-center bg-transparent border-primary">Utiliza tus habilidades para resolver
                    los Tests
                </div>
            </div>
            <br>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}


                <h5 hidden>{{ form.user_dev }}</h5>

                <div class="card bg-light mb-3 ">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <h5 class="card-title">Lenguaje</h5>
                                <select name="leng_program" required id="id_leng_program" class="form-control">
                                    {% for leng in form.leng_program %}
                                    <option>{{leng}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-5">
                                <h5 class="card-title">Tests</h5>
                                <select name="test_choice" required id="id_test_choice" class="form-control">
                                    {% for choice in form.test_choice %}
                                    <option>{{choice}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="form-group">
                            <textarea class="form-control" name="description" id="id_description" rows="10"></textarea>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="is_done" id="id_is_done" class="custom-control-input">
                            <label class="custom-control-label" for="id_is_done">Finalizado</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;<a href="/viewlist/" class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}