{% extends 'navbar/navbar.html' %}

{% block title %}solution{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12">
            <div class="card text-white bg-secondary mb-1">
                <div class="card-header text-center bg-transparent border-secondary ">Tests Guardados
                </div>
            </div>
            <br>
            {% if object_list %}

            <table class="table table-primary table-bordered table-sm table-condensed">

                <thead class="grey lighten-2">
                <tr class="table-secundary">
                    <th scope="col">User_name</th>
                    <th scope="col">Lenguage</th>
                    <th scope="col">Test</th>
                    <th scope="col">Solucton</th>
                    <th scope="col">Is_Done</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for viewlist in object_list %}
                <tr>
                    <th>{{ viewlist.user_dev }}</th>
                    <td>{{ viewlist.leng_program }}</td>
                    <td>{{ viewlist.test_choice }}</td>
                    <td>{{ viewlist.description }}</td>
                    <td>{{ viewlist.is_done }}</td>
                    <td>
                        <form method="post" action="update/{{viewlist.solution_id}}/">
                            {% csrf_token %}
                            <a href="/update/{{viewlist.solution_id}}/" class="btn btn-success">Editar</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="post">
                {% csrf_token %}
                <a href="/create/" class="btn btn-dark">Iniciar Tests</a>
                <a href="/test/" class="btn btn-danger">Volver</a>
            </form>
            {% else %}
            <h5 class="card-title">No hay registros para mostrar. No guardaste ningun Test</h5>
            <br>
            <form method="post">
                {% csrf_token %}
                <a href="/create/" class="btn btn-dark">Iniciar Tests</a>
                <a href="/test/" class="btn btn-danger">Volver</a>
            </form>
            {% endif %}
        </div>
    </div>
    <br>
</div>

{% endblock %}